body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    color:rgb(0, 0, 0);
}

header {
    background-color: #4fa3d4;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.imagen-izquierda {
    display: block;           
    margin: 0 0 15px 0;       
    border: 3px solid #000000;    
    border-radius: 0px;   
    width: 400px;             
    height: auto;             
}